body {
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.logo {
  width: 370px;
  margin-top: 40px;
}

@media (max-width: 770px) {
 .logo {
   width: 70%;
 }
}